@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.mainNav{
    font-family: 'Satisfy', cursive;
    font-size: xx-large;
    font-weight: bold;
}
.cancel{
    background-color: lightcoral;
}
.confirm{
    background-color: blanchedalmond;
}